body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;   
}

.navbar, .mobile_navbar{
    background-color: #00630d;
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.336);
}

.navbar ul, .mobile_navbar{
    background-color: #00630d;
    backdrop-filter: blur(10px);
    height: 70px;
    margin: 0; 
    padding: 0;
    

    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .menu-button {
    display: none;
}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .navbar .menu-button{
        display: block;
    }
}

.navbar li, .mobile_navbar li{
    height: 100%;
}

.navbar li:first-child, .mobile_navbar li:first-child{
    margin-right: auto;
    padding-left: 20px;
}

.navbar a, .mobile_navbar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family:consolas, monospace;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.navbar a:hover, .mobile_navbar a:hover{
    background-color: rgba(0, 122, 86, 0.637);
}

.mobile_navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;
    background-color: rgba(48, 48, 48, 0.4);
    backdrop-filter: blur(10px); 
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer{
    background-color:#00630d;
}

footer p{
    color: white;
    text-align: center;
    padding: 1rem;
    font-family:consolas, monospace;
    font-size: large;
}

footer h3{
    color: white;
    text-align: center;
    font-family:consolas, monospace;
    font-size: x-large;
    margin-top: 1rem;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;              
    padding: 1rem 0;
    
}

footer .social-links li {
    list-style: none;
}

footer .social-links svg {
    filter:invert(1);
    width: clamp(30px, 5vw, 40px);
    height: clamp(30px, 5vw, 40px);
    object-fit: contain;
    transition: filter 0.3s ease;
}

footer .social-links svg:hover {
    filter:invert(0) drop-shadow(0px 10px 10px #00ff15);
}








main{
    flex: 1;
}


/*index*/

.hero-image {
    width: 100%;
    height: 56.25vw; 
    
    /* 1. Flexbox για να κεντράρουμε το .content κάθετα και οριζόντια */
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-image: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=1920&auto=format&fit=crop");
    background-size: 100% 100%, cover; 
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
}

.upper-text {
    width: min(90%, 1100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: relative;
    z-index: 2;
    
    /* Προαιρετικά: Προσθέτουμε λίγη σκιά στο κείμενο για να διαβάζεται πιο εύκολα πάνω από την εικόνα */
    color: white;
    text-shadow: 0px 5px 10px rgb(21, 56, 0);
        
}

.hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    /* 1. Κάνουμε το gradient 1% ψηλότερο από το container */
    height: 100%; 
    
    background: #2a9b57;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 1) 99%);
    
    /* 3. Το βάζουμε κάτω από το κείμενο (content) αλλά πάνω από την εικόνα */
    z-index: 1; 
}

.content{
    width: min(90%, 1100px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .text-section{
    display: flex;
    flex-direction: column;
    background-color: #11530069;
    gap: 2rem;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 1200px;
    margin: 6rem auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%);

    text-align: center;
    text-shadow: 0px 5px 10px rgba(22, 90, 2, 0.26);
    font-family:consolas, monospace;
    font-size: 1.5rem;
}